{% extends 'base.html' %}

{% block content %}
  <h1>Yakoyo Food Canteen</h1>
    <div class="row">
        {% for canteen in canteen %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ canteen.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ canteen.name }}</h5>
                      <p class="card-text">N{{ canteen.price }}</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}